{:kotoba.app/latest "k51qzi5uqu5dgz0j1gn49mntc90ophjc3rzgyiez4yaed4iqgugu9xnap2z5ow", :kotoba.app/site-cid "bafybeig4klyk3hgbsdg3ejewuqjfxuufvkccqskm7ooximarjajwdfars4", :kotoba.app/id "cloud.itonami.app-air-sched", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5dgz0j1gn49mntc90ophjc3rzgyiez4yaed4iqgugu9xnap2z5ow", :published {:own-nodes {:cid "bafybeig4klyk3hgbsdg3ejewuqjfxuufvkccqskm7ooximarjajwdfars4", :ipns "k51qzi5uqu5dgz0j1gn49mntc90ophjc3rzgyiez4yaed4iqgugu9xnap2z5ow", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T05:20:12Z"}}}
